// --------------------------

// Use this for link selection

// padding: 10px 15px;
// transition: background .3s;
// &:hover {
//   background: #1C2124;
//   border-radius: 4px;
// }

// @media #{$breakpoint-large} {
//   position: relative;
//   right: -15px;
// }

// --------------------------

.booth-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-image: linear-gradient(45deg, rgba(171,209,219,100), rgba(114,164,180,100));
  box-shadow: 0px 0px 30px rgba(0,0,0,50);
  @media #{$breakpoint-large} {
    padding: 40px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$breakpoint-medium} {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }
    .navigation {
      display: flex;
      @media #{$breakpoint-medium} {
        flex-direction: row;
        align-items: flex-start;
      }
      li {
        list-style: none;
        position: relative;
        top: -180px;
        @media #{$breakpoint-small} {
          top: -210px;
        }
        @media #{$breakpoint-medium} {
          top: 0;
          position: inline;
        }
        .nav-two {
          margin: 0 30px;
          @media #{$breakpoint-medium} {
            margin: 0 20px;
          }
          @media #{$breakpoint-large} {
            margin: 0 30px;
          }
        }
      }
    }
  }
}
.page {
  @media #{$breakpoint-large} {
    padding: 40px 40px 0 40px;
  }
  .page-navigation {
    display: none;
    @media #{$breakpoint-large} {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .page-section-number {
        p {
          font-size: 48px;
          font-family: "lato-black";
        }
      }
      .page-section {
        font-size: 20px;
        font-family: "lato-bold";
        text-decoration: none;
      }
      .page-section-one {
        background-color: $blue-grey;
        border-radius: 4px;
        color: #ffffff;
        padding: 15px;
      }
      .page-section-two {
        margin-top: 20px;
      }
      .page-section-three {
        margin-top: 20px;
      }
    }
  }
  .page-content {
    @media #{$breakpoint-large} {
      padding-left: 20%;
    }
    @media #{$breakpoint-xlarge} {
      padding-left: 15%;
    }
    .section {
      h4 {
        margin-top: 20px;
        .inline-link {
          @include link($blue-grey, rgba(28,33,36,0.5), 95%);
        }
      }
      img {
        margin-top: 20px;
      }
      h3 {
        margin-top: 30px;
      }
      p {
        margin-top: 10px;
        .inline-link {
          @include link($blue-grey, rgba(28,33,36,0.5), 95%);
        }
      }
      ul {
        margin-top: 10px;
        li {
          list-style-type: none;
        }
      }
      #overview-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
      #components-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
      #next-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
    }
    .components-section,
    .next-section {
      margin-top: 60px;
    }
  }
}
