// --------------------------

// Use this for link selection

// padding: 10px 15px;
// transition: background .3s;
// &:hover {
//   background: #1C2124;
//   border-radius: 4px;
// }

// @media #{$breakpoint-large} {
//   position: relative;
//   right: -15px;
// }

// --------------------------
.cva-interior-body {
  .hideme1 {
    opacity: 0;
    position: relative;
    bottom: -70px;
  }
  .hideme2 {
    opacity: 0;
  }
  padding: 20px;
  @media #{$breakpoint-medium} {
    padding: 40px;
  }
  @media #{$breakpoint-large} {
    padding: 80px 120px;
  }
  @media #{$breakpoint-xlarge} {
    padding: 80px 250px;
  }
  .cva-header {
    .nav-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding: 20px 0;
      @media #{$breakpoint-large} {
        justify-content: space-between;
        flex-direction: row;
        // padding: 40px;
      }
      .page-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        @media #{$breakpoint-medium} {
          justify-content: flex-start;
          align-items: flex-end;
        }
        .navigation {
          display: flex;
          @media #{$breakpoint-medium} {
            flex-direction: row;
            align-items: flex-start;
          }
          li {
            list-style: none;
            @media #{$breakpoint-small} {
              top: -210px;
            }
            @media #{$breakpoint-medium} {
              top: 0;
              position: inline;
            }
            .nav-two {
              margin: 0 30px;
              @media #{$breakpoint-medium} {
                margin: 0 20px;
              }
              @media #{$breakpoint-large} {
                margin: 0 30px;
              }
            }
          }
        }
      }
    }
  }
  .cva-page {
    .page-content {
      .section {
        margin-top: 60px;
        h4 {
          margin-top: 20px;
          .inline-link {
            @include link($blue-grey, rgba(28,33,36,0.5), 95%);
          }
        }
        img {
          margin-top: 20px;
        }
        h3 {
          margin-top: 60px;
        }
        p {
          margin-top: 10px;
          .inline-link {
            @include link($blue-grey, rgba(28,33,36,0.5), 95%);
          }
        }
        ul, ol {
          margin-top: 10px;
          padding-left: 20px;
          li {
            margin-top: 15px;
            // list-style-type: none;
          }
        }
        .cva-subsection {
          margin-top: 60px;
        }
        #overview-anchor {
          display: block;
          position: relative;
          top: -170px;
          visibility: hidden;
        }
        #research-anchor {
          display: block;
          position: relative;
          top: -170px;
          visibility: hidden;
        }
        #design-anchor {
          display: block;
          position: relative;
          top: -170px;
          visibility: hidden;
        }
      }
      .overview-section {
        margin-top: 20px;
        @media #{$breakpoint-medium} {
          margin-top: 60px;
        }
        .team-group {
          display: grid;
          grid-template-columns: 1fr;
          padding-left: 0;
          @media #{$breakpoint-medium} {
            grid-template-columns: 1fr 1fr;
          }
          li {
            margin-top: 0px;
            list-style-type: none;
          }
        }
        .cva-mock {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            @media #{$breakpoint-medium} {
              width: 80%;
            }
          }
        }
      }
      .design-section {
        margin-top: 60px;
        .cva-strategy-gif-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px 0 100px 0;
          .cva-strategy-gif {
            object-fit: contain;
            width: 90%;
            box-shadow: 0 14px 18px rgba(12, 0, 51, 0.1);
            @media #{$breakpoint-medium} {
              width: 70%;
            }
          }
        }
        .cva-wireframe-group {
          margin-bottom: 60px;
          .cva-wire-img-group {
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 30px;
            grid-template-columns: 1fr 1fr;
            margin: 30px 0 60px 0;
            @media #{$breakpoint-medium} {
              grid-row-gap: 60px;
              grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .cva-wire-img {
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0 14px 18px rgba(12, 0, 51, 0.1);
              img {
                width: 100%;
              }
            }
          }
          .cva-detail-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0 60px 0;
            .cva-detail-image {
              object-fit: contain;
              width: 90%;
              @media #{$breakpoint-medium} {
                width: 70%;
              }
            }
          }
          .two-column-list-group {
            display: grid;
            grid-column-gap: 100px;
            grid-template-columns: 1fr;
            @media #{$breakpoint-medium} {
              grid-template-columns: 1fr 1fr;
            }
          }
        }
        .cva-system-group {
          display: grid;
          .cva-colors-img-desktop {
            margin: 30px 0 60px 0;
            display: none;
            @media #{$breakpoint-medium} {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 80%;
              }
            }
          }
          .cva-colors-img-mobile {
            margin: 30px 0 60px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$breakpoint-medium} {
              display: none;
            }
            img {
              width: 100%;
            }
          }
          .cva-graphics-group {
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 60px;
            @media #{$breakpoint-medium} {
              grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .cva-graphic-img {
              margin-top: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
                @media #{$breakpoint-medium} {
                  width: 80%;
                }
              }
            }
          }
          .cva-callout-img {
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$breakpoint-medium} {
              margin: 30px 0 60px 0;
            }
            img {
              width: 100%;
              @media #{$breakpoint-medium} {
                width: 60%;
              }
            }
          }
          .cva-graph-group {
            display: grid;
            grid-template-columns: 1fr;
            @media #{$breakpoint-medium} {
              // grid-template-columns: 1fr 1fr;
              margin: 30px 0 60px 0;
            }
            .cva-graph-img {
              display: flex;
              justify-content: center;
              align-items: center;
              @media #{$breakpoint-medium} {
              }
              img {
                width: 100%;
                @media #{$breakpoint-medium} {
                  width: 60%;
                }
              }
            }
          }
          .cva-table-group {
            display: grid;
            grid-template-columns: 1fr;
            @media #{$breakpoint-medium} {
              // grid-template-columns: 1fr 1fr;
              margin: 30px 0 60px 0;
            }
            .cva-table-img {
              display: flex;
              justify-content: center;
              align-items: center;
              @media #{$breakpoint-medium} {
              }
              img {
                width: 100%;
                @media #{$breakpoint-medium} {
                  width: 60%;
                }
              }
            }
          }
          .cva-pie-group {
            display: grid;
            grid-template-columns: 1fr;
            @media #{$breakpoint-medium} {
              // grid-template-columns: 1fr 1fr;
              margin: 30px 0 60px 0;
            }
            .cva-pie-img {
              display: flex;
              justify-content: center;
              align-items: center;
              @media #{$breakpoint-medium} {
              }
              img {
                width: 100%;
                @media #{$breakpoint-medium} {
                  width: 60%;
                }
              }
            }
          }
        }
        .cva-hi-fi-group {
          .cva-evolution-desktop {
            margin: 30px 0 60px 0;
            display: none;
            @media #{$breakpoint-medium} {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
              }
            }
          }
          .cva-evolution-mobile {
            margin: 30px 0 60px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$breakpoint-medium} {
              display: none;
            }
            img {
              width: 100%;
            }
          }
          .cva-hi-fi-img-group {
            display: grid;
            grid-template-columns: 1fr;
            @media #{$breakpoint-medium} {
              grid-template-columns: 1fr;
            }
            .cva-hi-fi-img {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
                margin: 0px;
                @media #{$breakpoint-medium} {
                  margin: -20px;
                  width: 80%;
                }
              }
            }
          }
        }
      }
    }
  }
}
