// --------------------------

// Use this for link selection

// padding: 10px 15px;
// transition: background .3s;
// &:hover {
//   background: #1C2124;
//   border-radius: 4px;
// }

// @media #{$breakpoint-large} {
//   position: relative;
//   right: -15px;
// }

// --------------------------

.gds-header {
  background-image: linear-gradient(45deg, rgba(67,133,155,100), rgba(110,206,178,100));
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    @media #{$breakpoint-large} {
      justify-content: space-between;
      flex-direction: row;
      padding: 40px;
    }
    .page-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      @media #{$breakpoint-medium} {
        justify-content: flex-start;
        align-items: flex-end;
      }
      .navigation {
        display: flex;
        @media #{$breakpoint-medium} {
          flex-direction: row;
          align-items: flex-start;
        }
        li {
          list-style: none;
          @media #{$breakpoint-small} {
            top: -210px;
          }
          @media #{$breakpoint-medium} {
            top: 0;
            position: inline;
          }
          .nav-two {
            margin: 0 30px;
            @media #{$breakpoint-medium} {
              margin: 0 20px;
            }
            @media #{$breakpoint-large} {
              margin: 0 30px;
            }
          }
        }
      }
    }
  }
}

.gds-page {
  padding: 20px 20px 50px 20px;
  @media #{$breakpoint-large} {
    padding: 40px 40px 100px 40px;
  }
  .page-navigation {
    display: none;
    @media #{$breakpoint-large} {
      background-color: #ffffff;
      padding: 20px 40px;
      position: fixed;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .page-section {
        font-size: 16px;
        font-family: "lato-bold";
        text-decoration: none;
      }
      .gds-section-one {
        background-color: none;
        border-radius: 4px;
        color: #ffffff;
        // padding: 15px;
      }
      .gds-section-two {
        margin-top: 20px;
      }
      .gds-section-three {
        margin-top: 20px;
      }
    }
  }
  .page-content {
    @media #{$breakpoint-large} {
      padding-left: 23%;
    }
    @media #{$breakpoint-xlarge} {
      padding-left: 15%;
    }
    .section {
      h4 {
        margin-top: 20px;
        .inline-link {
          @include link($blue-grey, rgba(28,33,36,0.5), 95%);
        }
      }
      img {
        margin-top: 20px;
      }
      h3 {
        margin-top: 30px;
      }
      p {
        margin-top: 10px;
        .inline-link {
          @include link($blue-grey, rgba(28,33,36,0.5), 95%);
        }
      }
      ul {
        margin-top: 10px;
        li {
          list-style-type: none;
        }
      }
      #overview-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
      #components-anchor {
        display: block;
        position: relative;
        top: -190px;
        visibility: hidden;
      }
      #next-anchor {
        display: block;
        position: relative;
        top: -190px;
        visibility: hidden;
      }
    }
    .components-section,
    .next-section {
      margin-top: 60px;
    }
    .overview-section {
      .gds-atomic-design {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          @media #{$breakpoint-medium} {
            width: 100%;
          }
        }
      }
      .gds-components-group {
        background-image: linear-gradient(45deg, rgba(67,133,155,100), rgba(110,206,178,100));
        width: 100vw;
        background-size: cover;
        position: relative;
        left: -20px;
        overflow: hidden;
        margin: 30px 0 50px 0;
        @media #{$breakpoint-large} {
          left: -33.8%;
        }
        @media #{$breakpoint-xlarge} {
          left: -19.4%;
        }
        .gds-components-position {
          position: relative;
          left: -250px;
          @media #{$breakpoint-medium} {
            left: -200px;
          }
          @media #{"only screen and (min-width: 1840px)"} {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            height: 180px;
            padding-bottom: 15px;
            @media #{$breakpoint-medium} {
              height: 250px;
            }
            @media #{$breakpoint-large} {
              height: 400px;
            }
          }
        }
      }
    }
    .components-section {
      .gds-typography-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0 60px 0;
        @media #{$breakpoint-medium} {
          flex-direction: row;
        }
        img {
          width: 90%;
          object-fit: contain;
          box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
          @media #{$breakpoint-medium} {
            width: 48%;
          }
          &:nth-child(2) {
            margin-top: 50px;
            @media #{$breakpoint-medium} {
              margin-top: 20px;
            }
          }
        }
      }
      .gds-colors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 60px 0;
        img {
          width: 80%;
          box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
          @media #{$breakpoint-medium} {
            width: 50%;
          }
        }
      }
      .gds-component-layouts-group {
        background-image: linear-gradient(45deg, rgba(67,133,155,100), rgba(110,206,178,100));
        width: 100vw;
        background-size: cover;
        position: relative;
        left: -20px;
        overflow: hidden;
        margin: 30px 0 50px 0;
        @media #{$breakpoint-large} {
          left: -33.8%;
        }
        @media #{$breakpoint-xlarge} {
          left: -19.4%;
        }
        .gds-component-layouts-positioning {
          position: relative;
          left: -120px;
          @media #{$breakpoint-large} {
            left: -200px;
          }
          @media #{"only screen and (min-width: 1840px)"} {
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            height: 180px;
            padding-bottom: 15px;
            @media #{$breakpoint-medium} {
              height: 250px;
            }
            @media #{$breakpoint-large} {
              height: 400px;
            }
          }
        }
      }
    }
  }
}

// .gds-page {
//   @media #{$breakpoint-large} {
//     padding: 40px 40px 0 40px;
//   }
//   .page-navigation {
//     display: none;
//     @media #{$breakpoint-large} {
//       position: fixed;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-end;
//       .page-section-number {
//         p {
//           font-size: 48px;
//           font-family: "lato-black";
//         }
//       }
//       .page-section {
//         font-size: 20px;
//         font-family: "lato-bold";
//         text-decoration: none;
//       }
//       .page-section-one {
//         background-color: $blue-grey;
//         border-radius: 4px;
//         color: #ffffff;
//         padding: 15px;
//       }
//       .page-section-two {
//         margin-top: 20px;
//       }
//       .page-section-three {
//         margin-top: 20px;
//       }
//     }
//   }
//   .page-content {
//     @media #{$breakpoint-large} {
//       padding-left: 20%;
//     }
//     @media #{$breakpoint-xlarge} {
//       padding-left: 15%;
//     }
//     .section {
//       h4 {
//         margin-top: 20px;
//         .inline-link {
//           @include link($blue-grey, rgba(28,33,36,0.5), 95%);
//         }
//       }
//       img {
//         margin-top: 20px;
//       }
//       h3 {
//         margin-top: 30px;
//       }
//       p {
//         margin-top: 10px;
//         .inline-link {
//           @include link($blue-grey, rgba(28,33,36,0.5), 95%);
//         }
//       }
//       ul {
//         margin-top: 10px;
//         li {
//           list-style-type: none;
//         }
//       }
//       #overview-anchor {
//         display: block;
//         position: relative;
//         top: -170px;
//         visibility: hidden;
//       }
//       #components-anchor {
//         display: block;
//         position: relative;
//         top: -170px;
//         visibility: hidden;
//       }
//       #next-anchor {
//         display: block;
//         position: relative;
//         top: -170px;
//         visibility: hidden;
//       }
//     }
//     .components-section,
//     .next-section {
//       margin-top: 60px;
//     }
//   }
// }
