// --------------------------

// Use this for link selection

// padding: 10px 15px;
// transition: background .3s;
// &:hover {
//   background: #1C2124;
//   border-radius: 4px;
// }

// @media #{$breakpoint-large} {
//   position: relative;
//   right: -15px;
// }

// --------------------------

.lymph-header {
  background-image: linear-gradient(45deg, rgba(235,238,152,100), rgba(194,65,118,100));
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    @media #{$breakpoint-large} {
      justify-content: space-between;
      flex-direction: row;
      padding: 40px;
    }
    .page-hero {
      h1 {
        font-size: 34px;
        text-align: center;
        @media #{$breakpoint-large} {
          font-size: 32px;
        }
      }
    }
    .page-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      @media #{$breakpoint-medium} {
        justify-content: flex-start;
        align-items: flex-end;
      }
      .navigation {
        display: flex;
        @media #{$breakpoint-medium} {
          flex-direction: row;
          align-items: flex-start;
        }
        li {
          list-style: none;
          @media #{$breakpoint-small} {
            top: -210px;
          }
          @media #{$breakpoint-medium} {
            top: 0;
            position: inline;
          }
          .nav-two {
            margin: 0 30px;
            @media #{$breakpoint-medium} {
              margin: 0 20px;
            }
            @media #{$breakpoint-large} {
              margin: 0 30px;
            }
          }
        }
      }
    }
  }
}
.lymph-page {
  padding: 20px 20px 50px 20px;
  @media #{$breakpoint-large} {
    padding: 40px 40px 100px 40px;
  }
  .page-navigation {
    display: none;
    @media #{$breakpoint-large} {
      background-color: #ffffff;
      padding: 20px 40px;
      position: fixed;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .page-section {
        font-size: 16px;
        font-family: "lato-bold";
        text-decoration: none;
      }
      .lymph-section-one {
        background-color: none;
        border-radius: 4px;
        color: #ffffff;
        // padding: 15px;
      }
      .lymph-section-two {
        margin-top: 20px;
      }
      .lymph-section-three {
        margin-top: 20px;
      }
    }
  }
  .page-content {
    @media #{$breakpoint-large} {
      padding-left: 23%;
    }
    @media #{$breakpoint-xlarge} {
      padding-left: 15%;
    }
    .section {
      h4 {
        margin-top: 20px;
        .inline-link {
          @include link($blue-grey, rgba(28,33,36,0.5), 95%);
        }
      }
      img {
        margin-top: 20px;
      }
      h3 {
        margin-top: 30px;
      }
      p {
        margin-top: 10px;
        .inline-link {
          @include link($blue-grey, rgba(28,33,36,0.5), 95%);
        }
      }
      ul, ol {
        margin-top: 10px;
        padding-left: 20px;
        li {
          margin-top: 15px;
          // list-style-type: none;
        }
      }
      // ol {
      //   padding: 0;
      //   li {
      //     margin
      //   }
      // }
      #overview-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
      #design-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
      #next-anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      }
    }
    .research-section,
    .design-section,
    .next-section {
      margin-top: 60px;
    }
    .overview-section {
      ul {
        margin-top: 10px;
        padding-left: 0;
        li {
          margin-top: 0;
          list-style-type: none;
        }
      }
      .lymph-desktop-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          // @media #{$breakpoint-medium} {
          //   width: 100%;
          // }
        }
      }
    }
    .research-section {
      .lymph-scroll-group {
        margin-bottom: 60px;
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .lymph-scroll-copy {
          @media #{$breakpoint-medium} {
          width: 90%;
          }
        }
        .lymph-scroll-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          @media #{$breakpoint-medium} {
            margin-top: 0px;
          }
          .lymph-scroll-image {
            object-fit: contain;
            box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
            width: 60%;
            @media #{$breakpoint-medium} {
              width: 50%;
            }
          }
        }
      }
      .lymph-tap-group {
        margin-bottom: 60px;
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .lymph-tap-copy {
          @media #{$breakpoint-medium} {
          width: 90%;
          }
        }
        .lymph-tap-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          @media #{$breakpoint-medium} {
            margin-top: 0px;
          }
          .lymph-tap-image {
            object-fit: contain;
            box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
            width: 60%;
            @media #{$breakpoint-medium} {
              width: 50%;
            }
          }
        }
      }
      .tile-model-group {
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .tile-model-copy {
          @media #{$breakpoint-medium} {
          width: 50%;
          }
        }
        .tile-model-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          .tile-model-image {
            width: 90%;
            @media #{$breakpoint-medium} {
              width: 60%;
            }
          }
        }
      }
      .dropdown-model-group {
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .dropdown-model-copy {
          @media #{$breakpoint-medium} {
          width: 50%;
          }
        }
        .dropdown-model-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          .dropdown-model-image {
            width: 90%;
            @media #{$breakpoint-medium} {
              width: 60%;
            }
          }
        }
      }
      .multi-entry-model-group {
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .multi-entry-model-copy {
          @media #{$breakpoint-medium} {
          width: 50%;
          }
        }
        .multi-entry-model-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          .multi-entry-model-image {
            width: 90%;
            @media #{$breakpoint-medium} {
              width: 60%;
            }
          }
        }
      }
      .solution-group {
        margin-top: 50px;
      }
      .solution-one-group {
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .solution-one-copy {
          @media #{$breakpoint-medium} {
          width: 50%;
          }
        }
        .solution-one-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          .solution-one-image {
            width: 90%;
            @media #{$breakpoint-medium} {
              width: 60%;
            }
          }
        }
      }
      .solution-two-group {
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .solution-two-copy {
          @media #{$breakpoint-medium} {
          width: 50%;
          }
        }
        .solution-two-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          .solution-two-image {
            width: 90%;
            @media #{$breakpoint-medium} {
              width: 60%;
            }
          }
        }
      }
      .solution-three-group {
        @media #{$breakpoint-medium} {
          display: flex;
        }
        .solution-three-copy {
          @media #{$breakpoint-medium} {
          width: 50%;
          }
        }
        .solution-three-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -40px;
          .solution-three-image {
            width: 90%;
            @media #{$breakpoint-medium} {
              width: 60%;
            }
          }
        }
      }
    }
    .design-section {
      .lymph-final-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          @media #{$breakpoint-medium} {
            width: 80%;
          }
        }
      }
    }
  }
}
