.raffle-header {
  margin-top: 115px;
  text-align: center;
  @media #{$breakpoint-large} {
    margin-top: 150px;
  }
  .title {
    margin-bottom: 10px;
  }
}
.raffle-overview {
  margin-top: 65px;
  @media #{$breakpoint-large} {
    margin-top: 100px;
  }
  .raffle-overview-text {
    @media #{$breakpoint-medium} {
      padding: 0 75px;
    }
    @media #{$breakpoint-xlarge} {
      padding: 0 150px;
    }
    .raffle-overview-overview {
      margin-bottom: 35px;
      @media #{$breakpoint-large} {
        margin-bottom: 50px;
      }
      h1 {
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
    .raffle-overview-problem {
      margin-bottom: 35px;
      @media #{$breakpoint-large} {
        margin-bottom: 50px;
      }
      h2 {
        margin-bottom: 20px;
      }
    }
    .raffle-overview-solution {
      margin-bottom: 35px;
      @media #{$breakpoint-large} {
        margin-bottom: 50px;
      }
      h2 {
        margin-bottom: 20px;
      }
    }
    .raffle-overview-technology {
      margin-bottom: 35px;
      @media #{$breakpoint-large} {
        margin-bottom: 50px;
      }
      h2 {
        margin-bottom: 20px;
      }
      .tech-list {
        ul {
          padding-left: 25px;
        }
      }
    }
  }
  .raffle-img1 {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$breakpoint-medium} {
      padding: 0 75px;
    }
    @media #{$breakpoint-large} {
      margin-top: 50px;
    }
    @media #{$breakpoint-xlarge} {
      padding: 0 150px;
    }
    img {
      object-fit: contain;
      width: 100%;
      max-width: 1000px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    }
  }
}
.raffle-research {
  margin-top: 60px;
  @media #{$breakpoint-medium} {
    padding: 0 75px;
  }
  @media #{$breakpoint-large} {
    margin-top: 100px;
  }
  @media #{$breakpoint-xlarge} {
    padding: 0 150px;
  }
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 20px;
  }
  h2 {
    margin: 50px 0 20px 0;
  }
  .raffle-user-stories {
    margin: 20px 0 50px 0;
    h2 {
      margin-bottom: 20px;
    }
    .user-story-subhead {
      margin-bottom: 5px;
    }
    ul {
      padding-left: 25px;
      margin-bottom: 20px;
    }
  }
  .website-goal-text {
    h2 {
      margin-bottom: 20px;
    }
  }
}
.raffle-website-overview {
  margin-top: 60px;
  @media #{$breakpoint-large} {
    margin-top: 100px;
  }
  h1 {
    margin-bottom: 35px;
    @media #{$breakpoint-medium} {
      padding: 0 75px;
    }
    @media #{$breakpoint-large} {
      margin-bottom: 50px;
    }
    @media #{$breakpoint-xlarge} {
      padding: 0 150px;
    }
  }
  .wireframe-overview-group {
    h2 {
      margin-bottom: 35px;
      @media #{$breakpoint-medium} {
        padding: 0 75px;
      }
      @media #{$breakpoint-large} {
        margin-bottom: 50px;
      }
      @media #{$breakpoint-xlarge} {
        padding: 0 150px;
      }
    }
    .raffle-overview {
      margin-top: -15px;
      .wireframe-group {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        &:last-of-type {
          margin-top: 35px;
          @media #{$breakpoint-medium} {
            margin-top: 50px;
          }
        }
        img {
          object-fit: contain;
          width: 15%;
          // max-width: 200px;
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            margin: 0 2.5%;
          }
        }
      }
    }
  }
  // .mockup-overview-group {
  //   h2 {
  //     margin-bottom: 35px;
  //     @media #{$breakpoint-medium} {
  //       padding: 0 75px;
  //     }
  //     @media #{$breakpoint-large} {
  //       margin-bottom: 50px;
  //     }
  //     @media #{$breakpoint-xlarge} {
  //       padding: 0 150px;
  //     }
  //     &:nth-of-type(2),
  //     &:nth-of-type(3),
  //     &:nth-of-type(4),
  //     &:nth-of-type(5) {
  //       margin-top: 50px;
  //       @media #{$breakpoint-large} {
  //         margin-top: 75px;
  //       }
  //     }
  //   }
  //   .raffle-overview {
  //     width: 100%;
  //     margin-top: -15px;
  //     img {
  //       object-fit: contain;
  //       width: 100%;
  //     }
  //   }
  // }
  .ux-text {
    margin-top: 60px;
    @media #{$breakpoint-medium} {
      padding: 0 75px;
    }
    @media #{$breakpoint-large} {
      margin-top: 100px;
    }
    @media #{$breakpoint-xlarge} {
      padding: 0 150px;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
  .user-flow-group {
    margin-top: 35px;
    @media #{$breakpoint-large} {
      margin-top: 50px;
    }
    h2 {
      margin-bottom: 20px;
      @media #{$breakpoint-medium} {
        padding: 0 75px;
      }
      @media #{$breakpoint-xlarge} {
        padding: 0 150px;
      }
    }
    .user-flow {
      width: 100%;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
  .ui-group {
    margin-top: 35px;
    @media #{$breakpoint-medium} {
      padding: 0 75px;
    }
    @media #{$breakpoint-large} {
      margin-top: 50px;
    }
    @media #{$breakpoint-xlarge} {
      padding: 0 150px;
    }
    h2 {
      margin-bottom: 20px;
    }
    .raffle-colors {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      @media #{$breakpoint-large} {
        margin-top: 50px;
      }
      .raffle-color-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        @media #{$breakpoint-medium} {
          padding: 0 30px;
        }
        p {
          margin-bottom: 10px;
        }
        .raffle-color {
          width: 100%;
          img {
            object-fit: contain;
            width: 100%;
            border-radius: 100%;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    .raffle-font-ticket-group {
      margin-top: 35px;
      @media #{$breakpoint-medium} {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
      @media #{$breakpoint-large} {
        margin-top: 50px;
      }
      .raffle-font {
        margin-right: 20px;
        @media #{$breakpoint-medium} {
          width: 50%;
        }
        p {
          word-wrap: break-word;
          font-family: "arial";
          font-size: 22px;
          line-height: 30px;
          @media #{$breakpoint-large} {
            font-size: 32px;
            line-height: 40px;
          }
          &:last-of-type {
            letter-spacing: 3px;
          }
        }
      }
      .raffle-ticket {
        padding: 50px;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }
}
.raffle-desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$breakpoint-medium} {
    margin-top: -50px;
  }
  img {
    object-fit: contain;
    width: 100%;
    max-width: 1000px;
  }
}
.raffle-button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @media #{$breakpoint-large} {
    margin-top: 75px;
  }
  @include cta-button(#D92118);
}
