footer {
  position: relative;
  top: 300px; 
  .social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: $blue-grey;
      &:nth-child(2) {
        margin: 0 20px;
      }
    }
  }
  p {
    text-transform: capitalize;
    text-align: center;
  }
}
