// Font from xl to small = 1.6x bigger and .625x smaller

h1, h2, h3, h4, h5, h6, p, ul, a {
  margin: 0;
  padding: 0;
  color: $blue-grey;
}

h1 {
  font-family: "lato-black";
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  @media #{$breakpoint-large} {
    font-size: 48px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 60px;
  }
}

h2 {
  font-family: "lato-black";
  font-size: 28px;
  // text-transform: uppercase;
  @media #{$breakpoint-large} {
    font-size: 48px;
  }
}

h3 {
  font-family: "lato-black";
  font-size: 16px;
  line-height: 24px;
  @media #{$breakpoint-large} {
    font-size: 28px;
  }
}

h4 {
  font-family: "lato-regular";
  color: $blue-grey;
  font-size: 10px;
  @media #{$breakpoint-large} {
    font-size: 24px;
    line-height: 35px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 14px;
  }
}

p, li {
  font-family: "lato-regular";
  font-size: 14px;
  line-height: 19px;
  @media #{$breakpoint-large} {
    font-size: 18px;
    line-height: 28px;
  }
}

.bold {
  font-family: "lato-bold";
}

.nav-item {
  font-family: "lato-black";
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media #{$breakpoint-large} {
    // font-size: 18px;
  }
}

.social-item {
    font-size: 30px;
    color: #ffffff;
  }

.hero-subtitle {
  font-family: "lato-light";
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  @media #{$breakpoint-xlarge} {
    font-size: 28px;
    line-height: 36px;
  }
}

.project-title {
  font-family: "lato-black";
  color: #ffffff;
  font-size: 22px;
  @media #{$breakpoint-medium} {
    // font-size: 24px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 32px;
  }
}

.project-subtitle {
  font-family: "lato-regular";
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  @media #{$breakpoint-medium} {
    font-size: 12px;
  }
}

.title {
  font-family: "lato-black";
  text-transform: uppercase;
  font-size: 27px;
  line-height: 30px;
  @media #{$breakpoint-medium} {
    font-size: 30px;
  }
  @media #{$breakpoint-large} {
    font-size: 38px;
  }
  @media #{$breakpoint-xlarge} {
    font-size: 48px;
  }
}

// .project-subtitle {
//   font-family: "lato-regular";
//   color: #999999;
//   font-size: 15px;
//   @media #{$breakpoint-large} {
//     font-size: 19px;
//   }
//   @media #{$breakpoint-xlarge} {
//     font-size: 24px;
//   }
// }

.circle-brand-title {
  font-family: "lato-regular";
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  @media #{$breakpoint-large} {
    font-size: 16px;
  }
}

.color-title {
  font-family: "lato-regular";
  text-transform: uppercase;
  color: #999999;
  font-size: 14px;
  @media #{$breakpoint-large} {
    font-size: 16px;
  }
}

.fabric-title {
  font-family: "lato-regular";
  text-transform: uppercase;
  color: #999999;
  font-size: 14px;
  @media #{$breakpoint-large} {
    font-size: 16px;
  }
}

footer {
  p {
    font-family: "lato-regular";
    color: #999999;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    @media #{$breakpoint-xlarge} {
      font-size: 14px;
    }
  }
}
