@font-face {
  font-family: "lato-black";
  src: url("../../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "lato-bold";
  src: url("../../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "lato-regular";
  src: url("../../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "lato-light";
  src: url("../../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "playfair-display-reg";
  src: url("../../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "source-sans-pro-reg";
  src: url("../../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "arial";
  src: url("../../fonts/Arial.ttf");
}
@font-face {
  font-family: "oleo";
  src: url("../../fonts/OleoScript-Bold.ttf");
}
@font-face {
  font-family: "catamaran";
  src: url("../../fonts/Catamaran-Bold.ttf");
}
@font-face {
  font-family: "montserrat-reg";
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-semibold";
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "montserrat-light";
  src: url("../../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "montserrat-black";
  src: url("../../fonts/Montserrat-Black.ttf");
}
