@mixin cta-button($button-color) {
  .btn {
    border-radius: 100px;
    border: 2px solid $button-color;
    display: inline-block;
    padding: 8px 20px;
    font-family: "lato-black";
    text-transform: uppercase;
    color: $button-color;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
    position: relative;
    transition: color 150ms;
    @media #{$breakpoint-medium} {
      font-size: 12px;
      padding: 10px 40px;
    }
    @media #{$breakpoint-large} {
      transition: background-color .2s;
      &:hover {
        background-color: $button-color;
        color: #1C2124;
      }
    }
    // position: relative;
    // overflow: hidden;
    a {
      font-family: "lato-black";
      text-transform: uppercase;
      color: $button-color;
      text-decoration: none;
      font-size: 10px;
      letter-spacing: 2px;
      position: relative;
      transition: color 150ms;
      @media #{$breakpoint-medium} {
        font-size: 12px;
      }
    }
  }
}

@mixin project-group($background-image, $button-color) {
  margin-top: 50px;
  background-image: $background-image;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 300px;
  background-size: cover;
  .project-text-background {
    background-color: rgba(28, 31, 36, 0.93);
    height: inherit;
    display: flex;
    align-items: center;
    width: 75%;
    @media #{$breakpoint-large} {
      width: 50%;
    }
    .project-text {
      margin-left: 15px;
      @media #{$breakpoint-medium} {
        margin-left: 150px;
      }
      @media #{$breakpoint-xlarge} {
        margin-left: 300px;
      }
      h1 {
        color: #ffffff;
      }
      .button-container {
        margin-top: 40px;
      }
      .button-container {
        @include cta-button($button-color);
      }
    }
  }
}
