// Breakpoints
$breakpoint-small: "only screen and (max-width: 360px)";
$breakpoint-medium: "only screen and (min-width: 760px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
$breakpoint-xlarge: "only screen and (min-width: 1399px)";
